
build
out


.cache
.idea
.vs
.vscode
.json
.DS_Store
.clangd
.zed

*.py
*.dat
*.log

# Temp Guides and SDL Config
CMakeLists_sdl.txt
NINJA_GUIDE.md
ARCHITECTURE_GUIDE.md
FUTURE_ROADMAP.md

cmake-guide.md
GEMINI.md

.xmake
